.chat{
    color: brown;
}
body{
    padding-left: 10px;
    display: inline-block;
    background-color: antiquewhite;
}
.container{
    background-color: lightseagreen;
    width: 450px;
    height: fit-content;
    border-radius: 16px;
}
.container p{
    padding-left: 6px;
}
.msg{
    background-color: blue;
    color: white;
    border-radius: 16px;
    padding: 5px 15px;
    margin: 5px;
}
.chat{
    padding: 4px;
}
.new_container{
    background-color: rgb(72, 221, 171);
}